body {
    background: url('WebBackground.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    font-family: 'Poppins', sans-serif;
    color: #4b663c;
}

#rank {
    margin-left: 500px;
}

#detail {
    margin-left: 515px;
}

#intro {
    margin-left: 500px;
    font-size: large;
    font-weight: bold;
}

table {
    margin-left: 500px;
    margin-right: 100px;
    width: 100%;
    max-width: 1050px;
    border-collapse: collapse;
    border: 3px solid #f4ab7a;
}

th, tr, td {
    border: 3px solid #f4ab7a;
    text-align: center;
}